include layouts/layout

.container.col-6.p-4
    table.table.table-striped
        thead
            tr.table-primary
                th(scope='col') Name
                th(scope='col') Email
                th(scope='col') Total Sales
                th(scope='col') Function
        tbody
            //- Loop through the data and display customer details
            each customer in customers
                tr
                    th(scope='row')= customer.CustomerName
                    td= customer.CustomerEmail
                    td= customer.TotalSales
                    td
                        form(method='get' action=`/customer/${customer.CustomerID}/update`)
                            button.btn.btn-secondary(type='submit') Update
                        form(method='get', action=`/customer/${customer.CustomerID}/delete`)
                            button.btn.btn-danger(type='submit') Delete


    form(method='get' action='/customer/add')
        button.btn.btn-secondary(type='submit') Insert New Customer
        a.btn.btn-warning(href='/home' role='button') Home
